<div class="add-expedition-button">
    <h1>Ajouter une expédition</h1>
    <button (click)="toggleAddExpeditionModal()">+</button>
</div>

<app-modal id="add-expedition-modal" *ngIf="isExpeditionModalOpen" (closeModal)="toggleAddExpeditionModal()">
    <form #addExpeditionForm="ngForm" (ngSubmit)="addExpeditionForm.valid && onSubmit()">
        <textarea id="expedition-title" name="expedition-title" type="text" [(ngModel)]="title" #name="ngModel" required minlength="1" maxlength="25" placeholder="Nom de l'expédition"></textarea>
        <button type="submit" [disabled]="!addExpeditionForm.valid">+</button>
    </form>
</app-modal>