@use "../../../import" as *;
.container {
    text-align: center;
    padding: 20px;
   
  }
  .group-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px; 
   
  }
  .group {
    background-color: $button-color;
    color: white;
    border-radius: 8px;
    width: 150px;
    height: 200px;
    justify-content: center;
    cursor: pointer;
  }
  .add-group {
    background-color: $button-color;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    
  }
  .members {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    justify-content:space-between ;
    
  }
  
  .member {
    color:white;
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content:space-between;
    margin-right: 1rem; 
    
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    gap: 10px;
    display: flex;
 
  }
  
  .more-members {
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
  
  }
  span {
    font-size: 3rem;
    color: white;
    ;
  }
  h2 {
    color:$title-text-color;
    font-family:'jetbrains mono', monospace;
    font-size: 30px;
  }
  h3 {
    color:white;
    font-family:'jetbrains mono', monospace;
    font-size: 20px;
  }
  .delete-btn {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
 
  }
  