<div class="container">
    <h2>Groupes</h2>
    <div class="group-container">
      <div class="group" *ngFor="let group of groups,let i = index"  (click)="openEditGroupDialog(group, i)">
        <h3>{{ group.name }}</h3>
         <div class="members">
          <div *ngFor="let member of group.userHasGroups.slice(0, 2); let j = index " class="member">
            <img [src]="member.user.profileImage"  class="avatar">
          </div>
          <div *ngIf="group.userHasGroups.length > 2" class="more-members">
            <span>+ {{ group.userHasGroups.length - 2 }}</span>
          </div>
        </div>
        <button class="delete-btn" (click)="deleteGroup(0); $event.stopPropagation()">🗑</button>
      </div>
      <div class="add-group" (click)="openCreateGroupDialog()">
        <span>+</span>
      </div>
    </div>
</div>
  
