@use '../../../import'as *;

footer{
   
    background-color:$navbar-color;
    min-height: 10vh;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 16px;
    .footer-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            
        color: $light-text-color;
        font-size: 1.2rem;
        margin-top: 4px;
        }


    }
}