<div class="signup-container">
  <h1>Inscription</h1>
  <div class="nav-buttons">
    <button class="toggle-button active">Inscription</button>
    <button [routerLink]="['/connexion']" class="toggle-button"><a>Connexion</a>
    </button>
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input id="firstName" formControlName="firstName" type="text" required="" />
      <div *ngIf="signupForm.get('firstName')?.invalid && (signupForm.get('firstName')?.dirty || signupForm.get('firstName')?.touched)" class="error-message">
        <div *ngIf="signupForm.get('firstName')?.errors?.['required']">Le prénom est obligatoire.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Nom</label>
      <input id="lastName" formControlName="lastName" type="text" required>
      <div *ngIf="signupForm.get('lastName')?.invalid && (signupForm.get('lastName')?.dirty || signupForm.get('lastName')?.touched)" class="error-message">
        <div *ngIf="signupForm.get('lastName')?.errors?.['required']">Le nom est obligatoire.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Adresse e-mail</label>
      <input id="email" formControlName="email" type="email" required>
      <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)" class="error-message">
        <div *ngIf="signupForm.get('email')?.errors?.['required']">L'adresse e-mail est obligatoire.</div>
        <div *ngIf="signupForm.get('email')?.errors?.['email']">L'adresse e-mail n'est pas valide.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
       <input id="password" formControlName="password" type="text" required>
      <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)" class="error-message">
        <div *ngIf="signupForm.get('password')?.errors?.['required']">Le mot de passe est obligatoire.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmez le mot de passe</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="text" required>
      <div *ngIf="signupForm.hasError('mismatch') && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)" class="error-message">
        Les mots de passe ne correspondent pas.
      </div>
    </div>
    <button type="submit">Valider</button>
  </form>
</div>

