<div class="forgot-password-container">
    <h1>Réinitialisation du mot de passe</h1>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Adresse e-mail</label>
        <input id="email" formControlName="email" type="email" required placeholder="E-mail">
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)" class="error-message">
          <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">L'adresse e-mail est obligatoire.</div>
          <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">L'adresse e-mail n'est pas valide.</div>
        </div>
      </div>
      <button type="submit">Envoyer</button>
    </form>
    <div *ngIf="notification" class="notification">
      {{ notification }}
    </div>
    <div>
      <button><a routerLink="/connexion">Connexion</a></button>
    </div>
  </div>
  
