@use "./../../../import" as *;

.modal-container {
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .75);
    padding : 0 8px;
    padding-top: 40px;
    overflow: auto;
}

.modal-panel {
    padding: 20px;
    background: $main-background-color;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}