@use "./../../../import" as *;
@use '../../../assets/btns.scss'as *;
:root {
    --size : 36px;
}

.task-container {
    color: $dark-text-color;
    border-bottom: 1px solid $button-color;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    line-height: 1.2;
    padding: 0.5rem;
}

.task-information {
    margin-left: 1rem;
    inline-size: 80%;
    overflow-wrap: break-word;
}

.task-information * {
    margin: 0;
}

.task-date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}




.priority{
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
}

.Bas{
    background-color: #A2ECAA;
}

.Moyenne{
    background-color: #E0CC86;
}

.Haute{
    background-color: #DF9191;
}


.app-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $secondary-backround-color;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  textarea, input, select {
    margin-bottom: 10px;
    width: 100%;
  }
  
  button[type="submit"] {
    background:$button-color;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  