@use "./../../../import" as *;

.task-container {
    color: $dark-text-color;
    border-bottom: 1px solid $button-color;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    line-height: 1.4;
    padding: 0.5rem;
}

.checkbox-container {
    height: 36px;
    min-width: 36px;
    border: 2px solid $dark-text-color;
    border-radius: 50%;
}

.task-information {
    margin-left: 1rem;
}

.task-date{
    display: flex;
    align-items: center;
}

.task-date img{
    height: 24px;
    margin-right: 0.5rem;
}

.task-delete-button{
    cursor: pointer;
    align-self: flex-start;
    padding-left: 8px;
    padding-top: 2px;
    margin-left: auto;
    color: $navbar-color;
}

.task-delete-button:hover{
    color: $title-text-color;
    font-weight: bolder;
}

.task-delete-button:active{
    transform: scale(0.9);
}

//Modal styling
.confirmation-message{
    display: flex;
    flex-direction: column;
    gap : 8px;
}

.confirmation-message button {
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    color: $main-background-color;
    background-color: $dark-text-color;
    align-self: flex-end;
}