
<div class="login-container">
  <div class="nav-buttons">
    <button class="toggle-button"><a [routerLink]="['/inscription']">Inscription</a>
    </button>
    <button class="toggle-button active">Connexion</button>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Adresse email</label>
      <input id="email" formControlName="email" type="email" required>
    </div>
    <div>
      <label for="password">Mot de passe</label>
      <input id="password" [type]="isPasswordHidden ? 'password' : 'text'" formControlName="password" required>
    </div>
    <div>
      <input type="checkbox" id="showPassword" (change)="togglePasswordVisibility()">
      <label for="showPassword">Afficher le mot de passe</label>
    </div>
    <button type="submit">Login</button>
  </form>
  <div class="forgot-password">
    <a routerLink="/motdepasseoublie">Mot de passe oublié ?</a>
  </div>
</div>

