@use '../../../import'as *;
.progress {
  width: 100%;
  background-color: $secondary-backround-color;
  border-radius: 5px;
  overflow: hidden; 
  position: relative; 
  height:  25px;
  margin: auto;
}

.progress-bar {
  background-color: $navbar-color;
  border-radius: 5px 0 0 5px;
  transition: width 0.5s ease; 
  text-align: center;
  line-height: 25px;
}