@use '../../../import'as *;
/* navbar.component.css */


    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $dark-text-color;
        padding-left: 10px;
        padding-right: 10px;
        background-color:  $navbar-color;
        h2{
            font-size: 1em ;
        }
    
        .nav-img{
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img{
                margin-right: 10px;
                width: 40%;
            }
        }
    
    }
    
    .burger-menu {
        width: 30px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-right: 3%;

        
      }
      
      .bar {
        height: 3px;
        width: 100%;
        background-color: $dark-text-color;
        transition: all 0.3s;
      }
      
      .menu-mobile {
        display: flex;
        flex-direction: column;
        background-color: $navbar-color;
        position: absolute;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        height: 100%;
        position: fixed;
        width: 50%;
        top: 0;
        right: 0px;
        bottom: 0;
        border-radius: 2%;
       .top-items{ 
        position: fixed;
        top: 10%;
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px;
        color: $light-text-color;
        }
        .botom-items{
            position: fixed;
            bottom: 2%;
            display: flex;
            flex-direction: column;
            color: $dark-text-color;
            
            }
      }
      
      .menu-mobile a {
        padding: 10px 20px;
        text-decoration: none;
        cursor: pointer;
      }
      
      .burger-menu.open .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
        z-index: 100;
      }
      
      .burger-menu.open .bar:nth-child(2) {
        opacity: 0;
      }
      
      .burger-menu.open .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
        z-index: 100;
      }
      
@media screen and (min-width: 768px){ 
    .nav-bar{
    display: flex;
    justify-content: space-between;
    color: $dark-text-color;
    background-color:  $navbar-color;

    .nav-img{
        display: flex;
        justify-content: start;
        align-items: center;
        p{
            color: $dark-text-color;
            font-size: 2em ;
        }
        img{
            width: 15%;
        }
    }

    
    .menu-desktop{
        color: $light-text-color;
        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin: 0 10px;
                a{
                    
                    cursor: pointer;
                }
            }
        }
    }

}

    
}