<header>
    <nav class="nav-bar">
        <a [routerLink]="['/accueil']">
            <div class="nav-img">
                <img src="../../assets/pictures/logo.png" alt="logo">
                <p>LevelUpTask</p>
            </div>
        </a>
        @if (isMobileView) {
            <div (click)="toggleNavbar()" class="mobile" >
                <div  [class.open]="isOpen" class="burger-menu">
                <div  class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                </div>
                <div *ngIf="isOpen" class="menu-mobile">
                    <ul class="top-items">
                        <li><a [routerLink]="['/profil']" >Profil</a></li>
                        <li><a [routerLink]="['/taches']">Tasks</a></li>
                        <li><a [routerLink]="['/message']">Message</a></li>
                    </ul> 
                    <ul class="botom-items">
                        <li><a [routerLink]="['/teams']" >About us</a></li>
                        <li><a [routerLink]="['/logout']" >LogOut</a></li>
                    </ul>
                  </div> 
              </div>
            }
            @if (!isMobileView)  {
              <div  class="menu-desktop">
                <ul>
                    <li><a [routerLink]="['/home']" >Home</a></li>
                    <li><a [routerLink]="['/taches']">Taches</a></li>
                    <li><a [routerLink]="['/profil']">Profil</a></li>
                    <li><a [routerLink]="['/teams']">About us</a></li>
                </ul>
              </div>
            }
    </nav>
</header>