<div class="task-progress-container">
    <div class="task-progress-title">
        <h1>Progression des tâches</h1>
    </div>
    <ul class="task-progress" >
        <li id="taskTotal">
            <i class="fas fa-clipboard-list"></i>
            <h2>Total Tasks</h2>
            <span>{{taskTotal}}</span>
        </li>
        <li id="taskAssigned">
            <i class="fas fa-clipboard"></i>
            <h2>Assigned</h2>
            <span>{{taskAssigned}}</span>
        </li>
        <li id="taskCompleted">
            <i class="fas fa-clipboard-check"></i>
            <h2>Completed</h2>
            <span>{{taskCompleted}}</span>
        </li>
    
    </ul>
</div>
