@use "./../../../import" as *;
@use "../../../assets/modal.scss" as *;

.add-task-button{
  color: $dark-text-color;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  line-height: 1.4;
  padding: 0.5rem;
}

.add-task-button button{
  height: 36px;
  min-width: 36px;
  background-color: $dark-text-color;
  color: $main-background-color;
  border-radius: 50%;
  cursor: pointer;
}

.add-task-button button:active{
  transform: scale(0.9);
}

.add-task-button label{
  margin-left: 1rem;
}
