<div class="add-task-button">
    <button (click)="openAddTaskModal()">+</button>
    <label>Ajouter une tâche</label>
</div>

<app-modal id="add-task-modal" *ngIf="isTaskModalOpen" (closeModal)="closeAddTaskModal()">
    <form #addTaskForm="ngForm" (ngSubmit)="addTaskForm.valid && onSubmit()">
        <textarea id="task-name" (input)="autogrow()" name="task-name" type="text" [(ngModel)]="description" #name="ngModel" required minlength="1" placeholder="Nom de la tâche"></textarea>
        <input name="task-date" type="date" [(ngModel)]="taskDate" #date="ngModel" required>
        <label class ="niveau" for="task-importance">Niveau d'importance :</label>
        <select id="task-importance" name="task-importance" [(ngModel)]="selectedImportanceLevel" required>
            <option *ngFor="let level of Priority" [value]="level">{{ level }}</option>
        </select>
        
        <button type="submit" [disabled]="!addTaskForm.valid || !date.dirty">+</button>
    </form>
</app-modal>
