<nav class="nav-bar">
    <div class="nav-img">
        <img src="../../assets/pictures/logo.png" alt="logo">
        <h2>LevelUpTask</h2>
    </div>
        <div class="burger-menu" [class.open]="isOpen" (click)="toggleNavbar()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div *ngIf="isOpen" class="menu-mobile">
                <ul class="top-items">
                    <li><a routerLink="/profil" routerLinkActive="active">Profil</a></li>
                    <li><a routerLink="/tasks" routerLinkActive="active">Tasks</a></li>
                    <li><a routerLink="/message" routerLinkActive="active">Message</a></li>
                </ul> 
                <ul class="botom-items">
                    <li><a routerLink="/about" routerLinkActive="active">About us</a></li>
                    <li><a routerLink="/logout" routerLinkActive="active">LogOut</a></li>
                </ul>
              </div> 
          </div>
          
          <div  class="menu-desktop">
            <ul>
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About us</a></li>
            </ul>
          </div>
</nav>