<section class="user-card">
  @if(user){
    <div class="user-img">
      <img [src]="user.profileImage ? user.profileImage  : 'https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg' " alt="{{user.firstname}}" />
    </div>
    <div class="user-description">
      <h3>{{ user.firstname }} {{ user.lastname }}</h3>
      <p>Niveau : {{ user.level }}</p>
      <p>Recompense : {{ user.rewardPercentage }}</p>
      <button (click)="toggleModale()">Editer</button>
    </div>
  }
</section>
<section class="reward" *ngIf="user">
  <app-progress-bar [result]="user.rewardPercentage"></app-progress-bar>
  <button disabled><a [routerLink]="['/reward']"></a>Voir les recompences</button>
</section>

@if (isModalOpen) {
    
<app-modal id="edit-user-modal" class="edit-user-modal" (closeModal)="toggleModale()">
  <form #editUserform="ngForm" (ngSubmit)="editUser()" *ngIf="user">
    <fieldset class="img-fieldset">
      
      <img [src]="user.profileImage ? user.profileImage  : 'https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg' " alt="firstname" />
      <div class="upload">
        <input
        type="text"
        id="profilImage"
        name="profilImage"
        [(ngModel)]="user.profileImage"
        #profilImage="ngModel"
  
      />
      @for (icon of icons; track icons) {
      <!-- <a> <i [class]="icon.class"></i> </a> -->
    }
      </div>
    </fieldset>
    <fieldset>
      <input
        type="text"
        class="form-control"
        id="firstname"
        name="firstname"
        placeholder="firstname"
        required
        [(ngModel)]="user.firstname"
        #firstname="ngModel"
        value="{{ user.firstname }}"
      />
    </fieldset>

    <div *ngIf="submitted && firstname.errors">
      <span *ngIf="firstname.errors?.['required']">Le nom est requis</span>
    </div>
    <fieldset>
      <input
        type="text"
        class="form-control"
        id="lastname"
        name="lastname"
        placeholder="lastname"
        required
        [(ngModel)]="user.lastname"
        #lastname="ngModel"
        value="{{ user.lastname }}"
      />
    </fieldset>
    <div *ngIf="submitted && lastname.errors">
      <span *ngIf="lastname.errors?.['required']">Le prénom est requis</span>
    </div>

    <button type="submit" [disabled]="editUserform.invalid">Modifier</button>
  </form>
</app-modal>
}
