<nav class="sidenav" (click)="toggleCollapse()" [ngClass]="Iscollapsed ? 'sidenav-Iscollapsed' : ''">
    <div class="user-image-container" *ngIf="user">
        <button class="user-image"><img src="{{user.profileImage}}"/></button>
    </div>
    
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link"  [routerLink]="data.label === 'Profile' ? [data.routerLink, user?.id] : [data.routerLink]"routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" [class]="data.deadLink">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="Iscollapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</nav>