<div class="sidenav" [ngClass]="Iscollapsed ? 'sidenav-Iscollapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><img src="assets/pictures/Graphic.png" class="tape"/></button>
        <div class="logo-text"   *ngIf="Iscollapsed">LevelUp Tasks</div>
        <button class="btn-close"  *ngIf="Iscollapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="data.routerLink"routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="Iscollapsed">{{data.label}}</span>
            </a>
        </li>

    
    </ul>
</div>