$navbar-color: #a99892;
$button-color: #574843;
$main-background-color: #eee8e6;
$title-text-color: #3f190d;
$secondary-backround-color: #ffffff;
$light-text-color: #ffffff;
$dark-text-color: #2f2826;
$progress-task-total: #574843;
$progress-task-assigned: #A99892;
$progress-task-completed: #8D736B;