$mainColor: #b23a86;
$navbar-color: #A99892;
$button-color: #574843;
$main-background-color: #EEE8E6;
$title-text-color: #3F190D;
$secondary-backround-color: #FFFFFF;
$light-text-color: #FFFFFF;
$dark-text-color: #2F2826;
