@use "./import" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $main-background-color;
  main{
    min-height: calc(90vh - 65px);
  }
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}

button,
input {
 font-family: 'jetbrains mono', monospace;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  
}


ul,
li,
p {
 
  list-style: none;
  font-family: 'inika', sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  color: $title-text-color;
  font-family:'jetbrains mono', monospace;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: $title-text-color;
  font-family:'jetbrains mono', monospace;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  font-family:'jetbrains mono', monospace;
}


@media screen and (max-width: 768px){
  main{
    min-height: calc(90vh - 47px);
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
