@use "./../../../import" as *;
@use "../../../assets/btns.scss" as *;

.expedition{
    display: flex;
    justify-content: space-between;
    h1{
        padding-right: 15px;
    }
}
.task-list-expendable {
    overflow: hidden;
}

.task-list-title {
    padding: 1rem;
    color: $title-text-color;
    border-bottom: 1px solid $button-color;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list-title h1, .task-title-arrow {
    font-weight: 700;
    font-size: 28px;
    margin : 0;
}

.edit-delete-button {
    font-size: 26px;
    margin-right: 0.5rem;
}