<section class="filter">
    <app-task-filter 
      (filterDescriptions)="filterByDescription($event)"
      (filterDate)="filterByDate($event)">
    </app-task-filter>
  </section>
  
<section class="task-list-container">
    <div class="task-list-title" (click)="changeState()">
        <h1>Liste des tâches:</h1>
        <div class="task-title-arrow">
            @if (isActive) {
                ▾
            }
            @else{
                ▴
            }   
        </div>
    </div>
    <div class="task-list-expendable"  [ngStyle]="{'max-height' : height}">
        <ul class="task-list">
            <li *ngFor="let task of filteredTasks" >
                <app-task [task]="task" (deleteTaskToParent)="onReceiveDeleteTask($event)"></app-task>
            </li>
        </ul>
        <app-add-task (addNewTaskToParent)="onReceiveNewTask($event)"></app-add-task>
    </div>
</section>